body {
   background-color: #333;
   padding-top: 14%;
   text-align: center;
}

.txt {
       color: #FFF;
 }


li > a:link {
	color: #65aa65;
	text-decoration: none;
	}
li > a:visited {
	color: #65aa65;
	text-decoration: none;
	}
li> a:hover {
    color: #FFF;
    }
li> a:active {
    color: #FFF;
    text-decoration: none;
    }
.sidebar li {
	border-bottom-style: dotted;
	border-width: 1px;
	border-color: #808080;
	list-style: none;
}
