<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../static/css/csans.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="../static/css/csans-grid-940-12-20.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="../static/css/csans-align.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="../static/css/portada.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="shortcut icon" href="../static/img/favicon16.ico" type="image/ico" />

<title>MATE - Mapas Temáticos</title>

</head>
<body>
<div id="wrapper">
<div class="page t5">

<div id="presentacion" class="col12 b1 bordred">

  <p class="right"><a href="/about">Sobre el proyecto</a> | <a href="/thanks">Agradecimientos</a> | <a href="http://twitter.com/mapastematicos">Nuestro twitter</a> | <a href="http://www.youtube.com/user/mapastematicos">Nuestro Youtube</a></p>
	<id="search">
	  <form>
		<div class="buscar">
			<input type="text" size="20" />
			<input type="submit" value="Buscar" />
		</div>
	  </form>
</div>

<div id="menu" class="col8 bordred content">
    <h3>Lo sentimos, pero no hay resultados de mapas para la busqueda realizada</h3>
</div>

<div class="footer"><p></p></div>
</div>
</div>
</body>
</html>
