<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/csans.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/csans-grid-940-12-20.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/csans-align.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/portada.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="shortcut icon" href="/static/img/favicon16.ico" type="image/ico" />

<title>MATE - Mapas Temáticos</title>

</head>
<body>
<div id="wrapper">
<div class="page t5">

<div id="presentacion" class="col12 b1 bordred">

  <p class="right"><a href="http://mapastematicos.org">Home</a> | <a href="/about">Sobre el proyecto</a> | <a href="/thanks">Agradecimientos</a> | <a href="http://twitter.com/mapastematicos">Nuestro twitter</a> | <a href="http://www.youtube.com/user/mapastematicos">Nuestro Youtube</a></p>
	<id="search">
<!--	  <form>
		<div class="buscar">
			<input type="text" size="20" />
			<input type="submit" value="Buscar" />
		</div>
	  </form>-->
</div>

<div id="menu" class="col8 bordred content">
    <h3>Agradecimientos</h3>
    <p>Nuestro agradecimiento a todos los que nos habéis apoyado en este largo fin de semana de cuenta atrás a través de teléfono, mail, twitter, etc. A Concha por darnos ánimos y ayudarnos con la comida! A Lalo simplemente por ser como es (y también por la comida!). En general a todo el <a href="http://cartolab.e">Cartolab</a> por su apoyo, por aguantar las comidas oyendo nuestras ideas locas y dándonos consegos. A Alberto Varela por considerar que esta cosa que llamamos mapastematicos.org merecía la atención que nos ha dedicado. A Dani, por Carol y Uxía. A vosotros, por visitar esta web y hacer que sea útil!</p>
<strong>¡Gracias a todos!</strong>
</div>

<div class="footer"><p></p></div>
</div>
</div>
</body>
</html>
