$def with (vars)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/csans.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/csans-grid-940-12-20.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/csans-align.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/portada.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="shortcut icon" href="/static/img/favicon16.ico" type="image/ico" />

<title>MATE - Mapas Temáticos</title>

</head>
<body>
<div id="wrapper">
<div class="page t5">

<div id="presentacion" class="col12 b1 bordred">

  <p class="right"><a href="http://mapastematicos.org">Home</a> | <a href="/about">Sobre el proyecto</a> | <a href="/thanks">Agradecimientos</a> | <a href="http://twitter.com/mapastematicos">Nuestro twitter</a> | <a href="http://www.youtube.com/user/mapastematicos">Nuestro Youtube</a></p>
<!--	<id="search">
	  <form>
		<div class="buscar">
			<input type="text" size="20" />
			<input type="submit" value="Buscar" />
		</div>
	  </form>
	  -->
</div>

    <!-- <h3>Visualizamos la información en mapas.</h3> -->

<div id="menu" class="col8 bordred content">
	<img src="/static/img/img_portada.png" alt="" width="500px"/>
</div>

<div id="menu" class="col2 bordred last sidebar">
  <h4>Tags populares</h4>
  <ul>
  $for i in range(len(vars[0])):
     <li><a href="/tag/$vars[i][0]">$vars[i][1]</a></li>            
  </ul>
</div>

<!--<div class="footer"><p></p></div>-->
</div>
</div>
</body>
</html>
