$def with (vars)

$if vars:
   <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
   <html>
   
   <head>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="/static/css/csans.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="/static/css/csans-grid-940-12-20.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="/static/css/csans-align.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="/static/css/mate.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <title>MATE - Mapas Temáticos</title>
   </head>
   <body>
   <div id="wrapper">
   <div class="page t5">
   
   <div id="presentacion" class="col12 b1 bordred">
     <p class="right"><a href="/about">Sobre el proyecto</a> | <a href="/thanks">Agradecimientos</a> | <a href="http://twitter.com/mapastematicos">Nuestro twitter</a> | <a href="http://www.youtube.com/user/mapastematicos">Nuestro Youtube</a></p>
   </div>
   
       <h3>
   	<a href="http://www.mapastematicos.org">$vars[1]</a>
       </h3>
   
   <div id="menu" class="col8 bordred content">
     <img src="/static/img/espanha.png" width="600" height="446" />
     <img src="/static/img/stats.png" width="600" height="281" />
   </div>
   
   <div id="menu" class="col2 bordred last sidebar">
     <h4>Tags</h4>
     <ul>
     $for i in range(len(vars[0])):
        <li>$vars[0][i]</li>
     </ul>
     <h4>Downloads</h4>
     <ul>
       <li><a href="/tag/1"></a>csv</li>
       <li><a href="/tag/2"></a>shp</li>
       <li><a href="/tag/2"></a>kml</li>
     </ul>
   </div>
   
   <div class="footer"><p></p></div>
   </div>
   </div>
   </body>
   </html>

$else:
    no existe map.html
