<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/csans.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/csans-grid-940-12-20.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/csans-align.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/static/css/portada.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="shortcut icon" href="/static/img/favicon16.ico" type="image/ico" />

<title>MATE - Mapas Temáticos</title>

</head>
<body>
<div id="wrapper">
<div class="page t5">

<div id="presentacion" class="col12 b1 bordred">

  <p class="right"><a href="http://mapastematicos.org">Home</a> | <a href="/about">Sobre el proyecto</a> | <a href="/thanks">Agradecimientos</a> | <a href="http://twitter.com/mapastematicos">Nuestro twitter</a> | <a href="http://www.youtube.com/user/mapastematicos">Nuestro Youtube</a></p>
   <!--	<id="search">
	  <form>
		<div class="buscar">
			<input type="text" size="20" />
			<input type="submit" value="Buscar" />
		</div>
	  </form>
	  -->
</div>

<div id="menu" class="col8 bordred content">
    <h3>Sobre el proyecto</h3>
    <p>MATE - mapastemáticos.org es una web para la visualización de información estadística. Es el resultado de 48h de programación para participar en abredatos.es, pasárnoslo bien y ver qué se puede hacer con poco tiempo y recursos con la información pública.</p>
    <p>La idea principal del proyecto es mostrar la información pública disponible en el INE, compuesta de múltiples datos en bruto en formatos de tablas (csv, xls, …) de presentación poco intuitiva, a través de mapas y gráficos sencillos para aquellos datos susceptibles de ser localizados geográficamente posibilitando una mejor comprensión y accesibilidad de los mismos para los usuarios. Nuestro objetivo era crear una web donde se pudiesen visualizar mapas a partir de datos en crudo. Muchas cosas se nos han quedado en el tintero para cumplir el deadline del concurso, pero las iremos implementando una vez el jurado emita el veredicto del concurso</p>
<p>El equipo ha estado compuesto por:</p>
<ul>
<li>Adrián Eirís</li>
<li>Andrés Maneiro</li>
<li>Francisco Puga</li>
<li>Nacho Varela</li>
</ul>

<strong>¡Gracias a todos!</strong>
</div>

<div class="footer"><p></p></div>
</div>
</div>
</body>
</html>
