<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/css/index.css" type="text/css" media="screen" title="Mapas temáticos" charset="utf-8" />
    <title>Mapas Temáticos</title>
  </head>
  <body>
    <div class="web">
      <div class="txt">
        <h1>mapastematicos.org</h1>
        <div>
          <iframe src="http://www.countdownr.com/external.html?logo=clock.png&amp;alert=&amp;time=2010_04_18_22_00&amp;title=web%20on-line%20en%20...&amp;repeat=0&amp;url=&amp;background=transparent" frameborder="0" width="320" height="130" scrolling="no"><a href="http://www.countdownr.com">Countdownr</a></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
