$def with (tags)

$if tags:
   <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
   <html>

   <head>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="/static/css/csans.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="/static/css/csans-grid-940-12-20.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="/static/css/csans-align.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="/static/css/mate.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <title>MATE - Mapas Temáticos</title>
   </head>

   <body>

   <div class="page t5">

   <div id="presentacion" class="col12 b1 bordred">
     <h1>MATE: Mapas temáticos</h1>
     <p>Descripción del proyecto, etc etc etc etc etc</p>
   </div>

   <div id="menu" class="col8 bordred">
     <!-- <h3>Mapa</h3> -->
     <h3>Título del mapa</h3>
     <img src="../static/img/espanha.png" width="600" height="446" />
     <img src="../static/img/stats.png" width="600" height="281" />
   </div>

   <div id="menu" class="col2 bordred last">
     <h4>Tags</h4>
     <ul>
     $for i in range(len(tags)):
        <li>$tags[i]</li>
     </ul>
     <h4>Downloads</h4>
     <ul>
       <li><a href="/tag/1"></a>csv</li>
       <li><a href="/tag/2"></a>shp</li>
       <li><a href="/tag/2"></a>kml</li>
     </ul>
   </div>

   <div id="pedepaxina" class="col12 t1 bordred">
     <p><a href="/about">Sobre el proyecto</a> | <a href="/thanks">Agradecimientos</a> | <a href="http://twitter.com/mapastematicos">Nuestro twitter</a> | <a href="http://www.youtube.com/user/mapastematicos">Nuestro Youtube</a></p>
   </div>

   </div>
   </body>

   </html>


$else:
    no existe map.html

